@model ClipMoney.Models.OperacionBase

<p>
    Id: @Model.IdOperacion <br />
    Monto = @Model.Monto <br />
    fecha = @Model.FechaDeOperacion <br />
    idCuenta = @Model.IdCuenta <br />
    cvu = @Model.CvuCbuDestino <br />
</p>


